# Copie ce fichier en .env et remplis les valeurs

# URL de connexion MongoDB (MongoDB Atlas gratuit)
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/squid-arena?retryWrites=true&w=majority

# Clé secrète pour signer les tokens JWT (mets une longue chaîne aléatoire)
JWT_SECRET=change-moi-en-une-longue-chaine-aleatoire-secrete

# Port du serveur (Render/Railway le définissent automatiquement en prod)
PORT=3000
